@model List<Product>

<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="featured-box">
                        <figure>

                            <img class="img-fluid" src="~/Imgs/@item.Image" alt="" style="width:350px;height:218.75px">
                        </figure>
                        <div class="feature-content">
                            <div style="width:310px;height:200px">
                                <h4><a href="/Home/ViewDetails/@item.Id">@item.Name</a></h4>
                                <h5>@item.Date</h5>
                                <p class="dsc">@item.Description</p>
                            </div>
                            <div class="listing-bottom">
                                <h3 class="price float-left">JD @item.Price</h3>
                                <a href="/Home/ViewDetails/@item.Id" class="btn btn-common float-right">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>