

<section id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">

                <form asp-action="AddOrder" asp-controller="Carts" method="post" class="contact-form">
                    <h2 class="contact-title">
                        Send Message Us
                    </h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required="" data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="" data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number" required="" data-error="Please enter your Phone Number">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" required="" data-error="Please enter your Address">
                                       
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" onclick="alert('Send Success')" id="submit" class="btn btn-common disabled" style="pointer-events: all; cursor: pointer;">Submit Now</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="information mb-4">
                    <h3>Address</h3>
                    <div class="contact-datails">
                        <p>Jordan-Amman</p>
                    </div>
                </div>
                <div class="information">
                    <h3>Contact Info</h3>
                    <div class="contact-datails">
                        <ul class="list-unstyled info">
                            <li><span>Address : </span><p> Amman</p></li>
                            <li><span>Email : </span><p><a href="#">support@gmail.com</a></p></li>
                            <li><span>Phone : </span><p>+962786877075</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>